<div class="row mb-4" style="width:70%;margin: 0 auto;">
    <div class="col rounded" style="width:400px; color:whitesmoke; background-color: rgba(44, 53, 54,0.7); text-align: center; margin-top: 10%;border: solid black 1px;">
        <img class="NonSelectable rounded d-block mt-2" src="/StaticFiles/Developers/TeamMember1.jpg" style="width:200px;height:200px;margin:0 auto;" />
        <h3 class="mt-2">Reece Gordon</h3>
        <h5 class="mt-4">Email: <a style="color:darkblue" href="mailto:reece.gordon.96@outlook.com">reece.gordon.96@outlook.com</a></h5>
        <h5 class="mt-1">Phone: <span>07944145865</span></h5>
        <h5 class="mt-4">About</h5>
        <p class="mt-1">Started as a games tech developer then found passion in modern web development and the creation of interactive assets to be used in the web</p>
        <h5 class="mt-4">Skills</h5>
        <ul style="text-align:left">
            <li>Java,C#,C++,Python,APS.NET,Xamarin</li>
            <li>CSS,Html,Javascript,Node.js,React.js,PHP</li>
            <li>SQLite,MySql,SQL Server</li>
            <li>Photoshop</li>
        </ul>
    </div>
    <div class="col ml-4 rounded" style="width:400px; color:whitesmoke;background-color:rgba(44, 53, 54,0.7);text-align:center;margin-top:10%;border: solid black 1px;">
        <img class="NonSelectable rounded d-block mt-2" src="/StaticFiles/Developers/TeamMember2.jpg" style="width:200px;height:200px;margin:0 auto;" />
        <h3 class="mt-2">Panayiotis Paschalides</h3>
        <h5 class="mt-4">Email: <a style="color:darkblue" href="mailto:paddy_pas@hotmail.com">paddy_pas@hotmail.com</a></h5>
        <h5 class="mt-1">Phone: <span>07599916011</span></h5>
        <h5 class="mt-4">About</h5>
        <p class="mt-1" >Started programming from the age of 12 made his first game at the age 14 and has been helping businesses become modern with technology since then</p>
        <h5 class="mt-4">Skills</h5>
        <ul style="text-align:left;">
            <li>Java,C#,C++,C,Python,APS.NET,Xamarin
            VB.NET, .Net Core apps</li>
            <li>CSS,Html,Javascript,Node.js,React.js,PHP</li>
            <li>SQLite,MySql,SQL Server,Mongo DB</li>
            <li>CISCO: CCNA</li>
        </ul>
    </div>
    <div class="col ml-4 rounded" style="width:400px; color:whitesmoke;background-color:rgba(44, 53, 54,0.7);text-align:center;margin-top:10%;border: solid black 1px;">
        <img class="NonSelectable rounded d-block mt-2" src="/StaticFiles/Developers/TeamMember3.jpg" style="width: 200px;height: 200px;margin: 0 auto;" />
        <h3 class="mt-2">Harvin Bhandl</h3>
        <h5 class="mt-4">Email: <a style="color:darkblue" href="mailto:harvin1998@hotmail.co.uk">harvin1998@hotmail.co.uk</a></h5>
        <h5 class="mt-1">Phone: <span>07765642298</span></h5>
        <h5 class="mt-4">About</h5>
        <p class="mt-1">Started as a games tech developer then found passion in modern web development and the creation of interactive assets to be used in the web</p>
        <h5 class="mt-4">Skills</h5>
        <ul style="text-align:left">
            <li>Java,C#,C++,Python</li>
            <li>CSS,Html,Javascript</li>
            <li>SQLite,MySql,SQL Server</li>
            <li>3D Modelling: 3dsmax</li>
        </ul>
    </div>
</div>
